<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">لوحة التحكم الرئيسية</li>
                <li>
                    <a href="/dashboard" class=" waves-effect">
                        <i class="bx bx-home-circle"></i>
                        <span> لوحة التحكم الرئيسية </span>
                    </a>
                </li>
                <li class="menu-title">مركز الإشعارات</li>
                <li>
                    <a href="/dashboard/notifications" class=" waves-effect">
                        <i class="bx bx-home-circle"></i>
                        <span class="badge badge-pill badge-success float-right"></span>
                        <span>إشعارات تسجيل الدخول</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/notifications" class=" waves-effect">
                        <i class="bx bx-home-circle"></i>
                        <span class="badge badge-pill badge-success float-right"></span>
                        <span>إشعارات المقيمين</span>
                    </a>
                </li>
                <li class="menu-title">تطبيقات خاصة بلوحة التحكم</li>

                <li>
                    <a href="/dashboard/accounts" class=" waves-effect">
                        <i class="bx bx-calendar"></i>
                        <span>الحسابات</span>
                    </a>
                </li>

                <li>
                    <a href="/dashboard/passport" class=" waves-effect">
                        <i class="bx bx-chat"></i>
                        <span class="badge badge-pill badge-success float-right">New</span>
                        <span>المقيميون</span>
                    </a>
                </li>

                </li>
            </ul>
        </div>
    </div>
</div>